*{
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
  }
.navbar{
    height: 10vh;
    width: 100%;
    background: rgb(157 209 229);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-icon-container{
    display: flex;
    align-items: center;
}
.navbar-icon-container .navbar-icon{
    margin: 0 1rem ;
}   
.burger-menu{
    display: none;
    padding-right: 1rem;
}
.navbar-ul{
    height: 9vh;
    width: 40vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.navbar-ul li{
    list-style: none;
}
.navbar-ul li a{
    text-decoration: none;
    color: black;
}
.bi-list {
    height: 2.5rem;
    width: 2.5rem;
}

@media (max-width: 1364px ){
    .navbar-ul li{
        display: none;
    }
    .burger-menu{
        display: block;
    }
}


/* title-section */

.title-section{
    height: auto;
    padding: 5rem 0;
    width: 100%;
    background-size: cover;
    background-image: url(./Images/cover-photo.png) ;
}
.title-container{
    height: 65vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}
.title-container .profile-photo{
    border: 0.5em solid black;
    height: 12.5rem;
    width: 12.5rem;
    border-radius: 50%;
    background-image: url(./Images/j.jpg);
    background-size: cover;
}
.title-container h1{
    font-size: 5rem;
    margin: 0.625rem 0 1.25rem 0;
}
.title-container p{
    font-size: 0.875rem;
}

@media(max-width: 1499px){
    .title-container{
        height: 65vh;
        width: 100vw;
    }
    .title-container p{
        text-align: center;
        padding: 0 0.5rem;
    }
    .title-container p:nth-of-type(2){
        padding: 0 1.5rem;
    }
}

@media (min-width: 340px) and (max-width: 613px){
    .title-section{
        background-size: 31.25rem 50rem;
    }
    .title-container .profile-photo{
        height: 8rem;
        width: 8rem;
    }
    .title-container h1{
        font-size: 2rem;
        margin: 0.625rem 0 1.25rem 0;
    }
}

/* about-me-section(1) */
.about-me-container1{
    padding: 5rem 0;
    height: auto;
    width: 100%;
    background-color: #B3C8CF;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.about-me-container1 h2{
    margin-bottom: 1.25rem;
}
.about-me-container1 p{
    /* border: 2px solid red; */
    width: 80%;
    text-align: center;
    line-height: 1.563rem;
}
@media (max-width: 767px){
    .about-me-container1 p{
        overflow: auto;
    }
}

svg{
    padding-right: 0.313rem;
    height: 1.25rem;
    width: 1.25rem;
}

/* about-me-section(2) */
.about-me-container2{
    height: auto;
    width: 100%;
    background-color: #89A8B2;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    padding: 1.875rem 0;
}

.about-me-container2 .about-me-grid{
    padding: 1.875rem 3.125rem;
}

.about-me-container2 .about-me-grid h2{
    padding-bottom: 1.25rem;
}

.about-me-container2 .about-me-grid p{
    width: 100%;
}


@media (min-width: 340px) and (max-width: 1023px) {
    .about-me-container2{
        height: auto;
        padding: 1.875rem 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .about-me-container2 .about-me-grid{
        padding-bottom: 1.563rem;
    }
    .about-me-container2 .about-me-grid h2{
        padding-bottom: 1.25rem;
    }
    .about-me-container2 .about-me-grid p{
        padding-bottom: 0.938rem;
    }
}

/* contact-me-section */
.contact-me-section{
    height: auto;
    padding: 4rem 0;
    width: 100%;
    background-color: #B3C8CF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.contact-me-contain1{
    display: none;
}
.contact-me-container2 ul li{
    list-style: none;
}

.contact-me-section .contact-me-svg{
    height: 0.938rem;
    width: 0.938rem;
}

.get-in-touch-mobile {
    display: none;
}


@media (min-width: 350px) and (max-width: 613px) {
    .contact-me-section{
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        /* padding-bottom: 3.125rem; */
    }
    .get-in-touch {
        display: none;
    }
    .get-in-touch-mobile {
        display: block;
        padding-bottom: 2.5rem;
    }
}
